body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-image: linear-gradient(to right, white, black);
    height: 100vh;
  }
.atv{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: darkred;
    animation: quicar 3s ease 4 ;
}
@keyframes quicar {
    0%{
        transform: translateX(0%);
    }
    20%{
        transform: translateY(170%);
    }
    40%{
        transform: translateX(-430%);
    }
    60%{
        transform: translateY(-170%);
    }
    80%{
        transform: translateX(430%);    
    }
    90%{
        transform: translateY(170%);
    }
    100%{
        transform: translateX(100%);
        transform: translateY(0%);
    }
}
.botao {
    position: absolute;
    bottom: 10px; 
}

a{
    position: absolute;
    bottom: 10px;
  }