body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-image: linear-gradient(to right, white, black);
    height: 100vh;
  }

  .circulo{
    background: darkred;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 4ms;
    animation: mover 4s infinite;
  }
  .circulo:hover{
    animation: mover 4s ease infinite;
  }

  @keyframes mover {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(500px);
    }
  }

  a{
    position: absolute;
    bottom: 10px;
}