body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-image: linear-gradient(to right, white, black);
    height: 100vh;
  }
  
  .quad {
  background-color: darkred;
  width: 200px;
  height: 200px;
  padding: 10;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 5px, 5px, 5px black;
  animation: mover 1.5s infinite;
  
  }
  .quad:hover{
    background: rgba(0.0.0.0);
    color:darkred;
    box-shadow: inset 0 0 0 3px darkred;
  }

  @keyframes mover{

    0% {
        background-color: darkred;
        height: 0px;
        width: 0px;

    }
    
    50% {
        background-color: red;
        height: 100px;
        width: 100px;
    }

    100% {
        background-color: green;
        height: 200px;
        width: 200px;
    }
}
  
a{
  position: absolute;
  bottom: 10px;
}