body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-image: linear-gradient(to right, white, black);
    height: 100vh;
}
form {
    width: 200px;
    height: 600px;
    border: 1px;
}
a{
    position: absolute;
    bottom: 10px;
}