body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-image: linear-gradient(to right, white, black);
    height: 100vh;
}

.quad {
  background-color: darkred;
  width: 200px;
  height: 200px;
  padding: 10;
  margin: 20px;
  border: 1px solid darkred;
  box-shadow: 5px, 5px, 5px red;
  animation: pulsar 3s infinite;
  
}
@keyframes pulsar{

    50% {
        background-color: red;
        height: 400px;
        width: 400px;

    }
    
 
    100% {
        background-color: darkred;
        height: 200px;
        width: 200px;
    }
   

        100% {
            background-color: red;
            transform: rotate(45deg);
    
        }
        
        100% {
            background-color: darkred;
            transform: rotate(90deg);
    
        }
        100% {
            background-color: red;
            transform: rotate(135deg);
    
        }
        100% {
            background-color: darkred;
            transform: rotate(180deg);
    
        }
        100% {
            background-color: red;
            transform: rotate(225deg);
    
        }
        100% {
            background-color: darkred;
            transform: rotate(270deg);
    
        }
        100% {
            background-color: red;
            transform: rotate(315deg);
    
        }
        100% {
            background-color: darkred;
            transform: rotate(360deg);
        }
}

a{
    position: absolute;
    bottom: 10px;
}