body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-image: linear-gradient(to right, white, black);
    height: 100vh;
  }

.quad {
    width: 200px;
    height: 200px;
    animation: mover 2s linear;
    background-image: url(../assets/gear5.jpg);
    background-size: cover;
    position: absolute;
    animation: subir 5s ease;
    border: 1px solid black;
}

@keyframes subir {
    0% {
        top:50%;
        left: 50%;
    }

    100% {
        top:0%;
        left: 0%;
        width: 70px;
        height: 70px;
    }

}
a{
    position: absolute;
    bottom: 10px;
}

